<div id="footer">
			<div>
				<ul class="navigation">
					<li class="{{#isSelected title 'Home'}}selected active{{/isSelected}}">
              				<a href="/">Home</a>
           				</li>
						<li class="{{#isSelected title 'Travel'}}selected active{{/isSelected}}">
              				<a href="/Travel">Travel</a>
           				</li>
						<li class="{{#isSelected title 'Rooms'}}selected active{{/isSelected}}">
              				<a href="/Rooms">Rooms</a>
           				</li>
						<li class="{{#isSelected title 'Meals'}}selected active{{/isSelected}}">
              				<a href="/Meals">Meals</a>
           				</li>
						<li class="{{#isSelected title 'News'}}selected active{{/isSelected}}">
              				<a href="/News">News</a>
           				</li>
						<li class="{{#isSelected title 'About'}}selected active{{/isSelected}}">
              				<a href="/About">About</a>
           				</li>
						<li class="{{#isSelected title 'Contact'}}selected active{{/isSelected}}">
              				<a href="/Contact">Contact</a>
           				</li>
				</ul>
				<div id="connect">
					<a href="http://pinterest.com/fwtemplates/" target="_blank" class="pinterest"></a> <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a> <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a> <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
				</div>
			</div>
			<p>
				© 2023 by Walker Travlr Getaways. All Rights Reserved
			</p>
		</div>
