<div id="header">
				<div id="logo">
					<a href="/"><img src="images/logo.png" alt="LOGO" height="100" width="200"></a>
				</div>
				<div id="navigation">
					<ul>
						<li class="{{#isSelected title 'Home'}}selected active{{/isSelected}}">
              				<a href="/">Home</a>
           				</li>
						<li class="{{#isSelected title 'Travel'}}selected active{{/isSelected}}">
              				<a href="/Travel">Travel</a>
           				</li>
						<li class="{{#isSelected title 'Rooms'}}selected active{{/isSelected}}">
              				<a href="/Rooms">Rooms</a>
           				</li>
						<li class="{{#isSelected title 'Meals'}}selected active{{/isSelected}}">
              				<a href="/Meals">Meals</a>
           				</li>
						<li class="{{#isSelected title 'News'}}selected active{{/isSelected}}">
              				<a href="/News">News</a>
           				</li>
						<li class="{{#isSelected title 'About'}}selected active{{/isSelected}}">
              				<a href="/About">About</a>
           				</li>
						<li class="{{#isSelected title 'Contact'}}selected active{{/isSelected}}">
              				<a href="/Contact">Contact</a>
           				</li>
					</ul>
				</div>
			</div>